*{padding:0;margin:0;box-sizing:border-box;font-family:Arial,Helvetica,sans-serif}
body{background:#090b1a;color:#fff}
main{height:100vh;display:flex;align-items:center;justify-content:center}
main .box{display:flex;background:#1b1938;width:75%;border-radius:15px}
main .box .txt{padding:10px}
main .box .txt>p{color:#ffffff99;line-height:1.5;width:90%}
main .box .txt h1 span{color:#aa5cdb}
main .box .txt h1{width:90%;margin-bottom:30px}
main .box .img .cover{width:100%;height:100%;background-color:#aa5cdb;border-top-right-radius:15px;border-bottom-right-radius:15px}
main .box .img img{display:flex;width:100%;height:100%;border-top-right-radius:15px;border-bottom-right-radius:15px;opacity:.6}
main .box .txt .sub-txt{display:flex;justify-content:space-around;text-align:center;align-items:center;margin:40px 0;line-height:1.5;font-weight:700}
@media screen and (max-width :1200px){main .box{width:85%;transition:width .5s}main .box .txt>p{width:100%!important}}
@media screen and (max-width :1024px){main{height:100%!important}main .box{flex-direction:column-reverse;align-items:center;width:50%}main .box .img .cover{border-radius:15PX!important;width:100%}main .box .img img{border-radius:15px!important}}
@media screen and (max-width :768px){main{height:100%!important}main .box{width:75%}main .box .img .cover{width:90%;margin:10px auto}main .box .txt{text-align:center}main .box .txt h1{width:100%;font-size:25px}main .box .txt .sub-txt{flex-direction:column}main .box .txt .sub-txt div:not(:last-child){margin-bottom:15px}}
@media screen and (max-width :320px){main{height:auto!important}}